body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: lightgray;
}

/*======
TOP MENU
======*/

#left {
  position: sticky;
  top: 0;
  left: 0;
  background: white;
  padding: .5rem;
}

#left ul {
  list-style-type: none;
  padding: 0;
}

#left>ul {
  display: flex;
}

#left>ul>li {
  position: relative;
}

#left>ul>li a {
  padding: .5rem 1rem;
}

/* FIXME: MENU */
#left>ul>li ul {
  position: absolute;
  display: none;
}

:is(#left>ul>li:hover ul, #left>ul>li ul:hover) {
  display: block;
}

#left>ul>li ul {
  box-shadow: 0 0 10px rgba(180, 180, 180, 0.8);
}

#left>ul>li li {
  background: white;
  border: solid #aaaaaa 1px;
  padding: .4rem 1rem;
}

#left>ul>li li:not(:first-child) {
  margin-top: -1px;
}

#left>ul>li li:hover {
  background: #eeeeee;
}

a {
  text-decoration: none;
}

/*==========
MAIN CONTENT
==========*/

#content {
  display: flex;
  flex-direction: column;
}

.article {
  margin: 20px;
  padding: .5rem;
  background: white;
  border-radius: 5px;
}

@media screen and (min-width: 1024px) {
  #content {
    flex-direction: row;
  }

  .article {
    /* FIXME: should be 50vw - margin etc */
    max-width: 50vw;
  }
}

.article img {
  width: 100%;
}

.article p {
  text-align: justify;
}

.article form {
  background: lightgrey;
  display: flex;
  flex-direction: column;
}

.article form div {
  display: flex;
  flex-direction: column;
}

/*====
FOOTER
====*/

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
}

#footer>* {
  margin: 0;
  padding: 1rem;
  width: 100%;
  color: grey;
}

#footer>*:not(:first-child) {
  border-left: solid 1px grey;
}

tr td {
  border-bottom: solid 1px lightgrey;
  padding: .1rem 2rem;
}